@page
@model SKSchool.Pages.Teachers.EditModel
@{
	ViewData["Title"] = "Edit Teacher";
}
<h1>@ViewData["Title"]</h1>

<br />
<div>
	@if (Model.errorMsg.Length > 0)
	{
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
			<strong>@Model.errorMsg</strong>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	}
	<form method="post">
		<input type="hidden" name="id" value="@Model.info.Id" />
		<div class="form-group">
			<label class="col-sm-3 col-form-label">Name</label>
			<input type="text" class="form-control" name="name" value="@Model.info.Name" placeholder="Enter Name of the Teacher" />
		</div>
		<div class="form-group">
			<label class="col-sm-3 col-form-label">Branch</label>
			<select class="custom-select" name="branch_code">
				<option value="select">Select</option>
				@foreach (var item in Model.branchesList)
				{
					if(item.Code == Model.info.BranchCode)
					{
						<option selected value="@item.Code">@item.Name</option>
					}
					else
					{
						<option value="@item.Code">@item.Name</option>
					}
				}
			</select>
		</div>

		<div class="row-mb-3">
			<div class="row-sm-3">
				<button class="btn btn-primary" type="submit">Submit</button>
				<a class="btn btn-outline-primary" href="/Teachers/Index" role="button">Cancel</a>
			</div>
		</div>
	</form>
</div>